{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["plugin:react/recommended", "prettier"],
  "rules": {
    "no-debugger": "off",
    "strict": ["error", "never"]
  },
  "env": {
    "node": true,
    "browser": true
  }
}
